/* Start CSS Bootstrap */

.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0; 
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: black;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}

/* End CSS Bootstrap */

/* Start CSS Custom */

/* Disable focus */
button.navbar-toggler:focus {
    outline: none;
}

/* Color navbar */
nav.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    background-color: #dc3545 !important;
}

a.dropdown-item:hover {
    background-color: #d2dae2;
}

/* Slide */

/* #carouselExampleFade{
    margin-top: 10px;
}

img.d-block.w-100 {
    border-radius: 10px;
} */

div#main_nav {
    z-index: 999;
}

.Product{
    margin-top: 10px;
    margin-bottom: 10px;
}

#price{
    color: #dc3545;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-title{
    font-weight: bold;
}

h3#title {
    margin-top: 30px;
    margin-bottom: 30px;
}

button.btn.btn-primary {
    margin-right: 5px;
}